* {
  margin: 0 0 0 0;
}

body {
  width: 1440px;
  margin: 0 0 0 0;
}

header {
  background-image: url("assets/photos/image-header.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}
header .top {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}
header .top .logo {
  width: 170px;
  align-self: center;
}
header .top .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .top .menu-item {
  text-decoration: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #FFFFFF;
}
header .top .menu-item:nth-child(4) {
  font-family: Fraunces 9pt Soft;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.1071428582px;
  height: 56px;
  background-color: #FFFFFF;
  color: #24303E;
  border: none;
  border-radius: 28px;
  text-transform: uppercase;
}
header .top .menu-item:nth-child(4):hover {
  background-color: rgba(255, 255, 255, 0.25);
  mix-blend-mode: normal;
  color: #FFFFFF;
}
header .header_image {
  width: 100%;
  height: 800px;
}
header h1 {
  margin: 105px 0 0 0;
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: white;
}
header .arrow {
  margin: 96.54px 0 0 705px;
}

main .first-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
}
main .box {
  width: 50%;
}
main .box .text {
  padding: 157px 165px 0 110px;
}
main .box .text h1 {
  font-family: Fraunces;
  font-size: 40px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: -0.2857142985px;
  text-align: left;
  color: #24303E;
}
main .box .text p {
  margin-top: 32px;
  margin-bottom: 40px;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.1285714358px;
  text-align: left;
  color: #808397;
}
main .box .text a {
  text-decoration: none;
  font-family: Fraunces 9pt Soft;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  color: #24303E;
  padding-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
main .box .text .link-decoration__yellow {
  width: 130px;
  height: 0.7rem;
  transform: translateY(-0.7rem);
  border-radius: 0.5rem;
  opacity: 0.25;
  background-color: yellow;
}
main .box .text .link-decoration__orange {
  width: 130px;
  height: 0.7rem;
  transform: translateY(-0.7rem);
  border-radius: 0.5rem;
  opacity: 0.25;
  background-color: orange;
}
main .box .text .text__link {
  width: 130px;
}
main .box .text .text__link:hover .link-decoration__yellow {
  opacity: 1;
  cursor: pointer;
}
main .box .text .text__link:hover .link-decoration__orange {
  opacity: 1;
  cursor: pointer;
}
main .second-line {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  background-color: white;
}
main .second-line .box {
  background-color: aqua;
  width: 50%;
  background-image: url("assets/photos/image-graphic-design.jpg");
}
main .second-line .box h1 {
  margin: 398px 0 27px 0;
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554A;
}
main .second-line .box p {
  margin: 0 0 0 191px;
  width: 339px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #3E7467;
}
main .second-line .box:nth-child(2) {
  background-image: url("assets/photos/image-photography.jpg");
}
main .third-line .third-line--client {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .third-line .third-line--client h1 {
  text-align: center;
  width: 100%;
  margin: 160px 0 81px 0;
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 5px;
  color: #A7AAAD;
}
main .third-line .third-line--client .client {
  text-align: center;
  width: 350px;
  margin: 0 0 0 0;
}
main .third-line .third-line--client .client img {
  border-radius: 50%;
}
main .third-line .third-line--client .client p:nth-child(2) {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin: 58px 0 69px 0;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5B636D;
}
main .third-line .third-line--client .client h3 {
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  margin: 0 0 0 0;
  color: #24303E;
}
main .third-line .third-line--client .client p:nth-child(4) {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  margin: 9px 0 160px 0;
  text-align: center;
  letter-spacing: -0.1px;
  color: #A7AAAD;
}
main .panorama {
  display: flex;
  justify-content: center;
  width: 100%;
}
main .panorama img {
  width: 25%;
}

footer {
  background-color: #90D4C6;
}
footer .foot {
  width: 300px;
  text-align: center;
  margin: 0 0 0 570px;
  padding: 72px 0 65px 0;
}
footer .foot img {
  margin: 0 0 0 0;
  filter: brightness(0) invert(39%) sepia(67%) saturate(323%) hue-rotate(118deg) brightness(90%) contrast(90%);
}
footer .foot .foot-menu {
  margin: 40px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .foot .foot-menu .foot-menu__item {
  text-decoration: none;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1285714358px;
  color: #458D7E;
}
footer .foot .foot-menu .foot-menu__item:hover {
  color: #FFFFFF;
}
footer .foot .reseaux {
  margin: 88px 0 72px 66px;
  width: 164px;
  display: flex;
  justify-content: space-between;
}
footer .foot .reseaux .face:hover,
footer .foot .reseaux .insta:hover,
footer .foot .reseaux .twit:hover,
footer .foot .reseaux .pin:hover {
  filter: brightness(0) invert(100%);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */