* {
    margin: 0 0 0 0;
}

body {
    width: 1440px;
    margin: 0 0 0 0;
}

header {
    background-image: url("assets/photos/image-header.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;

    .top {
        display: flex;
        justify-content: space-between;
        padding: 40px 40px 0 40px;

        .logo {
            width: 170px;
            align-self: center;
        }

        .menu {
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .menu-item {
            text-decoration: none;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

            letter-spacing: -0.128571px;

            color: #FFFFFF;
        }

        .menu-item:nth-child(4) {
            font-family: Fraunces 9pt Soft;
            font-size: 15px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: -0.1071428582072258px;

            height: 56px;
            background-color: #FFFFFF;
            color: #24303E;
            border: none;
            border-radius: 28px;

            text-transform: uppercase;
        }

        .menu-item:nth-child(4):hover {
            background-color: rgba(255, 255, 255, 0.25);
            mix-blend-mode: normal;
            color: #FFFFFF;
        }


    }

    .header_image {
        width: 100%;
        height: 800px;
    }

    h1 {
        margin: 105px 0 0 0;

        font-family: Fraunces 9pt Soft;
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 69px;

        text-align: center;
        letter-spacing: 8.75px;
        text-transform: uppercase;
        color: white;
    }

    .arrow {
        margin: 96.54px 0 0 705px;
    }
}

// MAIN
main {
    .first-line {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
    }

    .box {
        width: 50%;

        .text {
            padding: 157px 165px 0 110px;

            h1 {
                font-family: Fraunces;
                font-size: 40px;
                font-weight: 900;
                line-height: 49px;
                letter-spacing: -0.2857142984867096px;
                text-align: left;
                color: #24303E;
            }

            p {
                margin-top: 32px;
                margin-bottom: 40px;

                font-family: Barlow;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: -0.12857143580913544px;
                text-align: left;
                color: #808397;
            }

            a {
                text-decoration: none;
                font-family: Fraunces 9pt Soft;
                font-size: 15px;
                font-weight: 900;
                line-height: 25px;
                letter-spacing: 1px;
                text-align: left;
                color: #24303E;

                padding-left: 10px;

                letter-spacing: 1px;
                text-transform: uppercase;

                position: relative;
                z-index: 1;
            }

            .link-decoration__yellow {
                width: 130px;
                height: 0.7rem;
                transform: translateY(-0.7rem);
                border-radius: 0.5rem;
                opacity: 0.25;
                background-color: yellow;
            }

            .link-decoration__orange {
                width: 130px;
                height: 0.7rem;
                transform: translateY(-0.7rem);
                border-radius: 0.5rem;
                opacity: 0.25;
                background-color: orange;
            }

            .text__link {
                width: 130px;
            }

            .text__link:hover {
                .link-decoration__yellow {
                    opacity: 1;
                    cursor: pointer;
                }

                .link-decoration__orange {
                    opacity: 1;
                    cursor: pointer;
                }
            }


        }
    }

    .second-line {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 600px;

        background-color: white;

        .box {
            background-color: aqua;
            width: 50%;
            background-image: url("assets/photos/image-graphic-design.jpg");

            h1 {
                margin: 398px 0 27px 0;

                font-family: 'Fraunces 9pt Soft';
                font-style: normal;
                font-weight: 900;
                font-size: 28px;
                line-height: 35px;

                text-align: center;
                letter-spacing: -0.2px;

                color: #24554A;
            }

            p {
                margin: 0 0 0 191px;
                width: 339px;

                font-family: 'Barlow';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 27px;

                text-align: center;
                letter-spacing: -0.114286px;

                color: #3E7467;
            }
        }

        .box:nth-child(2) {
            background-image: url("assets/photos/image-photography.jpg");
        }
    }

    .third-line {
        .third-line--client {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h1 {
                text-align: center;
                width: 100%;
                margin: 160px 0 81px 0;

                font-family: 'Fraunces 9pt Soft';
                font-style: normal;
                font-weight: 900;
                font-size: 20px;
                line-height: 25px;
                /* identical to box height */

                text-align: center;
                letter-spacing: 5px;

                color: #A7AAAD;
            }

            .client {
                text-align: center;
                width: 350px;
                margin: 0 0 0 0;

                img {
                    border-radius: 50%;
                }

                p:nth-child(2) {
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;

                    margin: 58px 0 69px 0;

                    text-align: center;
                    letter-spacing: -0.128571px;

                    color: #5B636D;
                }

                h3 {
                    font-family: 'Fraunces 9pt Soft';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: -0.128571px;

                    margin: 0 0 0 0;

                    color: #24303E;
                }

                p:nth-child(4) {
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 25px;

                    margin: 9px 0 160px 0;

                    text-align: center;
                    letter-spacing: -0.1px;

                    color: #A7AAAD;
                }
            }
        }
    }

    .panorama {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            width: 25%;
        }
    }

}

footer {
    background-color: #90D4C6;;
    .foot {
        width: 300px;
        text-align: center;
        margin: 0 0 0 570px;
        padding: 72px 0 65px 0 ;

        img {
            margin: 0 0 0 0;
            filter: brightness(0) invert(39%) sepia(67%) saturate(323%) hue-rotate(118deg) brightness(90%) contrast(90%);
        }

        .foot-menu {
            margin: 40px 0 0 0;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .foot-menu__item {
                text-decoration: none;
                font-family: Barlow;
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                letter-spacing: -0.12857143580913544px;
                color: #458D7E;
            }
            .foot-menu__item:hover {
                color: #FFFFFF;
            }
        }

        .reseaux {
            margin: 88px 0 72px 66px;
            width: 164px;
            display: flex;
            justify-content: space-between;


            .face:hover,
            .insta:hover,
            .twit:hover,
            .pin:hover {
                filter: brightness(0) invert(100%);
                cursor: pointer;
            }
        }
    }
}